
@media only screen and (max-width: 767px) {

  /* For mobile devices */
  .head-right-ctr {
    flex: 1 0 100%; 
    order: 2;    
    margin: 1rem -1rem -1rem -1rem; 
    padding: 5px 1px; 
    display: flex;
    justify-content: center;
    border-top: dashed 2px rgb(60, 0, 0);
  }

  .main{
    grid-template-columns: repeat(2,1fr);
  }

  .cart-right-ctr{
    flex-grow: 1;
  }
}

@media only screen and (min-width:768px) and (max-width:1023px)
{
    /* For tablet devices */
    .main{
      grid-template-columns: repeat(4,1fr);
    }
}

@media only screen and (min-width:1024px) and (max-width:1400px)
{
    /* For Laptop devices */
    .main{
      grid-template-columns: repeat(5,1fr);
    }
}